page-album {


  //HEADER CLASSES
  ion-header{
    height: 70px;
    text-align: center;
  }

  .toolbar-title{
    margin-top: 5%;
    margin-right: 15%;

  }

  ion-icon{
    font-size: 30px;
    color: #9c9c9c;
    margin-left: -90%;
  }

  .back-button.show-back-button{
    margin-top: 5%;
  }

  //////////////////////*****************************////////////////////////////////************************////////////////////////

  .scroll-content{
    background-color: #f3f3f3;
  }

  .add-photos{
    width: 90px;
    height: 150px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
  }

  .add-size{
    font-size: 30px;
    font-weight: 500;
    margin-left: 38px;
    position: absolute;
  }

  .text-card{
    font-size: 12px;
    position: absolute;
    margin-left: 15px;
    margin-top: 65%;
    color: #666666;
  }

  .text-copy{
    font-size: 12px;
    position: absolute;
    margin-left: 10px;
    margin-top: 2px;
    color: #666666;
    text-transform: uppercase;
    font-weight: 500;
  }

  .text-copy2{
    font-size: 12px;
    position: absolute;
    margin-left: 20px;
    margin-top: 5px;
    color: #666666;
    text-transform: uppercase;
  }

  .img-height{
    height: 125px;
  }

  .order-value{
    background: white;
    height: 130px;
    box-shadow: 0 -5px 16px 0 rgba(0, 0, 0, 0.2), 0 23px 20px 0 rgba(0, 0, 0, 0);
    border-radius: 15px 15px 0px 0px;
    left: 0;
    bottom: 0;
    position: absolute;
    z-index: 10;
    display: block;
    width: 100%;
  }

  .selected{
    position: absolute;
    left: 8px;
  }

  .next-btn{
    text-align: center;
    margin-top: -40px;
    width: 35%;
    text-transform: uppercase;
    line-height: 2.7;
    height: 40px;
    background-image: linear-gradient(to right, #fb8c00, #ffbe5d);
    box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: white;
    border-radius: 20px;
    margin-left: 60%;
    font-weight: 500;
    margin-bottom: 20px;
  }

}
