//FONT

@import url('https://fonts.googleapis.com/css?family=Exo+2:300,400,500,600,700&display=swap');

* {

  font-family: 'Exo 2', sans-serif;
}




.no-bg{
  background: transparent;
}

.toolbar-background{
  background: white;
}

.back-button-text-ios{
  display: none;
}


//colors

.gray{
  color: #9c9c9c;
}

.orange{
  color:#fb8c01;
}

.orange-light{
 color: #fb8c00;
}

.white{
  color: white;

}

.black{
  color: black;
}


//BORDER COLOR INPUTS

.item-md.item-input.item-input-has-focus .item-inner, item.md.item-input.input-has-focus .item-inner{
  border-bottom-color: #9c9c9c;
  box-shadow: inset 0 -1px 0 0 #9c9c9c;
}

.list-md .item-input.item-input-has-focus:last-child, .list-md .item-input.input-has-focus:last-child{
  border-bottom-color: #9c9c9c;
  box-shadow: inset 0 -1px 0 0 #9c9c9c;
}
