<ion-content class="bg-tutorial">

  <!-- PAGE 1 -->
  <div *ngIf="step == 0">

    <div (tap)=goToHome()>
      <ion-icon md="md-close"></ion-icon>
    </div>

    <div style="text-align: center"><img style="width: 300px" src="../../assets/imgs/img1.png"></div>

    <div class="middle-text">
      <p>Crie seu projeto de albuns de fotos e adicione suas fotos favoritas.</p>
    </div>



    <div (tap)=nextPage() class="next1-btn">Avançar</div>



    <div (tap)=goToHome() class="close-btn">Fechar</div>

  </div>

  <!-- PAGE 2 -->

  <div *ngIf="step == 1">

    <div (tap)=goToHome()>
      <ion-icon md="md-close"></ion-icon>
    </div>

    <div style="text-align: center"><img style="width: 300px" src="../../assets/imgs/img2.png"></div>

    <div class="middle-text">
      <p>Receba em casa suas fotos reveladas ou revele pessoalmente em nossos Quiosques.</p>
    </div>


  <div>
  <ion-row>
    <ion-col col-6>
        <div (tap)=backPage() class="back-btn">Voltar</div>
    </ion-col>

    <ion-col col-6>

        <div (tap)=nextPage() class="next2-btn"> Avançar </div>
    </ion-col>
  </ion-row>
  </div>


    <div (tap)=goToHome() class="close-btn">Fechar</div>

  </div>

  <!-- PAGE 3 -->

  <div *ngIf="step == 2">

      <div (tap)=goToHome()>
        <ion-icon md="md-close"></ion-icon>
      </div>

      <div style="text-align: center"><img style="width: 300px" src="../../assets/imgs/img3.png"></div>

      <div class="middle-text">
        <p>Para revelar suas fotos no Quiosque, informe o Código ou apresente o QR Code exibido no seu pedido.</p>
      </div>


    <div>
    <ion-row>
      <ion-col col-6>
          <div (tap)=backPage() class="back-btn">Voltar</div>
      </ion-col>

      <ion-col col-6>

          <div (tap)=goToHome() class="next2-btn"> Avançar </div>
      </ion-col>
    </ion-row>
    </div>


      <div (tap)=goToHome() class="close-btn">Fechar</div>

    </div>

</ion-content>
