page-payment-form {

  //HEADER CLASSES
  ion-header{
    height: 70px;
    text-align: center;
  }

  .toolbar-title{
    margin-top: 5%;
    margin-right: 15%;

  }

  ion-icon{
    font-size: 30px;
    color: #9c9c9c;
    margin-left: -90%;
  }

  .back-button.show-back-button{
    margin-top: 5%;
  }

  //////////////////////*****************************////////////////////////////////************************////////////////////////

  .scroll-content{
    background: #f3f3f3;
  }

  .list-md[no-lines] .item-block{
   background: transparent;
  }
}
